<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Recipe List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mylist.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>My Saved Recipes</h1>

      {% if mylist %}
      <ul class="recipe-list">
        {% for recipe in mylist %}
        <li class="recipe-box">
          <strong>{{ recipe.name }}</strong><br />
          <em>Ingredients:</em> {{ ', '.join(recipe.ingredients) }}
        </li>
        {% endfor %}
      </ul>
      <a href="/clear_list"><button>Clear List</button></a>
      {% else %}
      <p>No recipes in your list yet.</p>
      {% endif %}
    </div>

    <div class="bottom-nav">
      <a href="/" class="nav-item"> <i class="fas fa-home"></i><br />Home </a>
      <a href="/mylist" class="nav-item">
        <i class="fas fa-list"></i><br />My List
      </a>
    </div>
  </body>
</html>
